MEMACT_ACCESS_HOST=127.0.0.1
MEMACT_ACCESS_PORT=8787
MEMACT_ACCESS_STORE=.data/access-store.json
MEMACT_ACCESS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173,https://www.memact.com
MEMACT_ACCESS_EMAIL_FROM="Memact <no-reply@memact.com>"
MEMACT_ACCESS_SMTP_HOST=
MEMACT_ACCESS_SMTP_PORT=587
MEMACT_ACCESS_SMTP_SECURE=false
MEMACT_ACCESS_SMTP_USER=
MEMACT_ACCESS_SMTP_PASS=
